dist: trusty
language: node_js
sudo: required
branches:
  only:
  - master
  - develop
  - ashutosh/balances_model_and_cache
notifications:
  email:
    recipients:
      - ci.report@ost.com
    on_success: always
    on_failure: always
node_js:
  - "9"
  - "8"
  - "7"
before_install:
  - sudo apt-get update
  - sudo apt-get install nodejs
  - sudo apt-get install npm
install:
  - npm install
  - npm install -g mocha
before_script:
script:
  - mocha --timeout 120000 test/v1/* --exit
  - mocha --timeout 120000 test/v1_1/* --exit
after_script:
